body {
    min-width: 375px;
    overflow: hidden;
    font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-primary);
    background-color: var(--el-bg-color-page);
}

:focus-visible {
    outline: none;
}

.clearfix::after {
    display: block;
    clear: both;
    visibility: hidden;
    content: '';
}

.form-tips {
    margin-top: 4px;
    font-size: var(--el-font-size-small);
    line-height: 24px;
    color: var(--el-text-color-secondary);
}

#nprogress .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    width: 100%;
    height: 2px;
    background-color: var(--el-color-primary) !important;
}
