body {
    min-width: 375px;
    overflow: hidden;
    font-family: "PingFang SC", Arial, "Microsoft YaHei", sans-serif;
    font-size: var(--el-font-size-base);
    color: var(--el-text-color-primary);
    background-color: var(--el-bg-color-page);
    em, i { font-style: normal; }
}

// 焦点轮廓
:focus-visible {
    outline: none;
}

// 清除浮动
.clearfix::after {
    clear: both;
    display: block; 
    visibility: hidden;
    content: '';
}

// 表单提示
.form-tips {
    margin-top: 4px;
    font-size: var(--el-font-size-small);
    line-height: 24px;
    color: var(--el-text-color-secondary);
}

// 加载进度条
#nprogress .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    width: 100%;
    height: 2px;
    background-color: var(--el-color-primary) !important;
}
